/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

input[type="text"],
input[type="number"],
button {
  padding: 12px;
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin: 15px 0;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.option {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.correct {
  background-color: #28a745;
  color: white;
}

.wrong {
  background-color: #dc3545;
  color: white;
}

.highlight {
  background-color: #e2f0e9;
  color: #155724;
}

.feedback {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.feedback img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.main-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-field {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}

.start-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #218838;
}

/* quiz page */
.quiz-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.score-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.score-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.score-value {
  font-weight: bold;
  color: #4caf50; /* Green color for score */
}

.restart-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #2196f3; /* Blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #1976d2; /* Darker blue on hover */
}

